<!DOCTYPE html>
<html>
<head>
    <title>{{ application_name }}</title>
</head>
<body>

<h1>Welcome to {{ application_name }}</h1>

<p>Environment : {{ environment }}</p>

<p>Server : {{ inventory_hostname }}</p>

<p>Managed By : Ansible</p>

</body>
</html>
