****************************************************

        Welcome to {{ inventory_hostname }}

        Environment : {{ environment }}

        Managed By : Ansible

        Date : {{ ansible_date_time.date }}

****************************************************
